#Theory Question

**1. What are data structures, and why are they important ?**
- A data structure is a way of organizing, storing, and managing data so it can be used efficiently.
It is important because,
* Efficiency: Choosing the right data structure makes data retrieval, insertion, or updates faster.
* Memory Management: Proper structures avoid waste of memory.
* Scalability: For large datasets (like in BI), efficient structures prevent performance bottlenecks.
* Problem Solving: Many algorithms (searching, sorting, graph traversal, etc.) depend on appropriate data structures


**2. Explain the difference between mutable and immutable data types with examples?**
 - Mutable: Can be changed after creation.

 Example: list1 = [1,2,3]; list1[0] = 100 → [100,2,3]
- Immutable: Cannot be changed after creation.

Example: str1 = "hello"; str1[0] = 'H' (error)

**3. What are the main differences between lists and tuples in Python?**
 - List: Mutable, slower, uses more memory, enclosed in [].

- Tuple: Immutable, faster, memory-efficient, enclosed in ()

**4. Describe how dictionaries store data?**
  - Dictionaries use a hash table internally. Each key is hashed → mapped to an index → stores a (key, value) pair. This makes lookups very fast (average O(1)).

**5. Why might you use a set instead of a list in Python?**
  - Sets remove duplicates automatically.

  - Membership checking (x in set) is much faster (O(1)) than in lists (O(n)).

**6. What is a string in Python, and how is it different from a list?**
 - A string is a sequence of characters (immutable).

 - A list is a sequence of elements (mutable, can store mixed data types).

**7. How do tuples ensure data integrity in Python?**
 - Tuples are immutable, so once created, their contents cannot be altered. This makes them reliable for storing fixed data like database keys or configuration values.

**8.What is a hash table, and how does it relate to dictionaries in Python ?**
- A hash table is a structure that stores key–value pairs using hash functions.
- Python dictionaries are implemented as hash tables.

**9. Can lists contain different data types in Python ?**
- Yes.

    Example: my_list = [1, "hello", 3.14, True]

**10.Explain why strings are immutable in Python?**
- Strings are immutable for security, caching, and thread-safety.

    Example: Two identical strings may point to the same memory location (interning). If strings were mutable, this would break.

**11. What advantages do dictionaries offer over lists for certain tasks?**
 -  Fast lookups (O(1)) using keys.

    Keys make data self-descriptive.

    Better for mapping relationships (id → name).
    
**12. Describe a scenario where using a tuple would be preferable over a list?**
 - When storing fixed data that shouldn’t change, e.g., coordinates (x, y) or days of the week.

    Tuples can also be used as dictionary keys, lists cannot.

**13. How do sets handle duplicate values in Python?**
 - When you add duplicate values to a set, Python automatically removes duplicates and only keeps one instance of each value
  
    ex: set1 = {1,2,2,3}  # result → {1,2,3}


**14 How does the “in” keyword work differently for lists and dictionaries**?
- For Lists:

    The in keyword checks if a value exists inside the list.

    Time complexity: O(n) (linear search).
- For Dictionaries:

    The in keyword checks if a key exists in the dictionary, not the value.
    Time complexity: O(1) on average (hash table lookup).

**15. Can you modify the elements of a tuple? Explain why or why not**?
- No , Tuples are immutable, so elements cannot be reassigned.

    example: t = (1,2,3)
    
    t[0] = 10  # Error

**16.What is a nested dictionary, and give an example of its use case**?
- A nested dictionary in Python is simply a dictionary inside another dictionary.

    It allows you to store data in a hierarchical (multi-level) structure, where each key can map to another dictionary instead of just a single value.
   Example:
    reports = {
    "SalesReport": {"owner": "John", "refresh": "daily", "data_source": "SQL_DB"},
    "HRReport": {"owner": "Sara", "refresh": "weekly", "data_source": "Excel"}}

**17. Describe the time complexity of accessing elements in a dictionary**?
Average Case:
O(1) → constant time
Because hash lookups don’t depend on dictionary size.

Worst Case (rare):
O(n) → linear time

This happens if there are many hash collisions (different keys mapping to the same hash bucket). Python uses strategies like open addressing and rehashing to minimize this.

**18.  In what situations are lists preferred over dictionaries**?

When order matters (Python 3.7+ dicts maintain insertion order, but lists are still simpler).

When data doesn’t require key–value pairs.

When you need index-based access.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval**?

Traditionally, dicts had no guaranteed order. Since Python 3.7, they preserve insertion order, but conceptually they are hash-based (not index-based).

Retrieval is by key, not position.

**20.Explain the difference between a list and a dictionary in terms of data retrieval**?

List: Retrieval by index (mylist[0]). Slower for lookups.

Dictionary: Retrieval by key (mydict["id"]). Much faster (O(1))

#Practical Question

In [1]:
#1.Write a code to create a string with your name and print it"
name = "Bhoomika"
print(name)

Bhoomika

In [3]:
#2. Write a code to find the length of the string "Hello World"?
text = "Hello World"
print(len(text))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
s = "Python Programming"
print(s[:3])

Pyt

In [5]:
#4Write a code to convert the string "hello" to uppercase?

word = "hello"
print(word.upper())

HELLO

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"P

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [16]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)
#or: print(lst[::-1])

[50, 40, 30, 20, 10]

In [12]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
nums = (10, 20, 5, 15)
print(min(nums))

5

In [18]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))   # Output: 1

1

In [19]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)   # Output: False

False

In [20]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
20. #Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [25]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [26]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person["name"])   # Output: Alice

Alice

In [28]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [30]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [33]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[9, 55, 58, 77, 80]

In [32]:
#28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [34]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#30. Write a code to convert a list of strings into a set?

words = ["apple", "banana", "apple", "cherry"]
words_set = set(words)
print(words_set)

{'cherry', 'apple', 'banana'}